html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Шрифты */
/* Bilbo Swash Caps 400 normal */
@font-face {
    font-family: 'BilboSwashCaps-Regular';
    src: url("../fonts/BilboSwashCaps-Regular.ttf");
}


/* Montserrat Alternates 700 bold */
@font-face {
    font-family: 'MontserratAlternates-Bold';
    src: url("../fonts/MontserratAlternates-Bold.ttf");
}


/* Montserrat Alternates 400 regular */
@font-face {
    font-family: 'MontserratAlternates-Regular';
    src: url("../fonts/MontserratAlternates-Regular.ttf");
}


/* Стили */

.layout {
    width: 100%;
    height: 100%;
    background: rgb(243, 245, 243);
}

.myHeader {
    margin: auto;
    width: 1440px;
    display: flex;
    align-items: center;
    height: 154px;
    background: #fff;
    position: relative;
}
/* Логотип flowers */
#logo {
    margin-left: 102px;
    font-family: "BilboSwashCaps-Regular";
    font-size: 72px;
    text-decoration: none;
    color: #424242;
}

/* Устанавливаю стили для navigation */
.navigation {
    width: 100%;
    margin-right: 101px;
    text-align: right;
}

    .navigation ul li {
        display: inline;
        margin-left: 54px;
    }



        .navigation ul li a {
            font-family: "MontserratAlternates-Bold";
            font-size: 24px;
            color: #424242;
            text-decoration: none;
        }

.navigation__adapt {
    display: none;
    cursor: pointer;
}

.navigation__adapt__popup {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 301px;
    height: 369px;
    background: #ffffff;
    z-index: 3;
    display: flex;
    justify-content: right;
    opacity: 0;
    pointer-events: none;
}

    .navigation__adapt__popup.active {
        opacity: 1;
        pointer-events: all;
        transition: 0.5s all;
    }

    .navigation__adapt__popup div {
        position: relative;
        width: 100%;
        height: 100%;
    }


        .navigation__adapt__popup div img {
            position: absolute;
            top: 16px;
            left: 18px;
            height: 36px;
            width: 36px;
            cursor: pointer;
        }

        .navigation__adapt__popup div ul {
            position: absolute;
            top: 21px;
            right: 49px;
            height: 100%;
            width: 150px;
            display: flex;
            flex-wrap: wrap;
            justify-content: right;
        }

            .navigation__adapt__popup div ul li {
                text-align: right;
                width: 140px;
            }

                .navigation__adapt__popup div ul li a {
                    font-family: "MontserratAlternates-Bold";
                    font-size: 22px;
                    line-height: 27px;
                    color: #424242;
                    text-decoration: none;
                }
